body {
	margin:auto;
	width:50%;
}

#form {
	position:relative;
	top:0;
	width:675px;
}

#newInput0 {
	width:543px;
}

#p_tag_export {
	height:230px;
	margin:0;
	max-width:662px;
	width:662px;
}

#p_tag_btn {
	width:332px;
}

#take_tag_btn {
	width:669px;
}

.latestfield {
	width:547px;
}

#export_box {
	height:75px;
	max-height:75px;
	max-width:694px;
	width:663px;
}
