/*EasyTag CSS styling*/

#body{
	margin:auto;
	width: 960px;
	background-color: #f5f5f5;
}

#form{
	position:relative;
	right:330px;
}

#form_container{
	margin: auto;
	width: 278px;
	
}

.latestfield{
	width: 276px;
}
